@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Quintessential", serif;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$brown;
        padding: 12px 24px;
    }

        @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;
        align-items: center;
    }
}